<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="HoldemApp">
    <head>
        <title>Hold'em Poker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/libs/timecircles/TimeCircles.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/board/board.css">
        <link rel="stylesheet" href="css/info/info.css">
        <link rel="stylesheet" href="css/option/option.css">
    </head>
    <body oncontextmenu="return false;" ng-cloak ng-controller="GameCtrl">
        <div id="info" ng-cloak> 
            <div class="p-name animate-if" ng-cloak>PLAYER: {{pFname}} {{pLname}}</div>
            <div class="p-stack">STACK: {{me && me.player ? me.player.stack : ''}}</div>
            <div class="pot_total animate-if" ng-cloak>POT: {{gameState.pot.purse}}</div>
            
            <div id="timer" data-timer="60"></div>
            
            <div id="progress"></div>
        </div>


        <div id="board">
            <div id="table">
                <div id="inner-table">
                    <div id="community">
                        <section class="flop" ng-model="gameState.board.board[0]" ng-class="gameState.board.board[0].cardString"></section>
                        <section class="flop" ng-model="gameState.board.board[1]" ng-class="gameState.board.board[1].cardString"></section>
                        <section class="flop" ng-model="gameState.board.board[2]" ng-class="gameState.board.board[2].cardString"></section>
                        <section class="turn" ng-model="gameState.board.board[3]" ng-class="gameState.board.board[3].cardString"></section>
                        <section class="river" ng-model="gameState.board.board[4]" ng-class="gameState.board.board[4].cardString"></section>
                    </div>
                    
                    <div id="pot-container">
                        <section class="pot"></section>
                        <section class="pot"></section>
                        <section class="pot"></section>
                        <section class="pot"></section>
                        <section class="pot"></section>
                        <section class="pot"></section>
                        <!--  ng-repeat="pot in gameState.pots" -->
                    </div>
                    
                </div>
                <div class="p-space" id="opponent-left">
                    <section class="hole-card" ng-model="me.player.holeCards[0]" ng-class="me.player.holeCards[0].cardString"></section>
                    <section class="hole-card" ng-model="me.player.holeCards[1]" ng-class="me.player.holeCards[1].cardString"></section>
                </div>
                <div class="p-space" id="opponent-top">
                    <section class="hole-card" ng-model="me.player.holeCards[0]" ng-class="me.player.holeCards[0].cardString"></section>
                    <section class="hole-card" ng-model="me.player.holeCards[1]" ng-class="me.player.holeCards[1].cardString"></section>
                </div>
                <div class="p-space" id="opponent-right">
                    <section class="hole-card" ng-model="me.player.holeCards[0]" ng-class="me.player.holeCards[0].cardString"></section>
                    <section class="hole-card" ng-model="me.player.holeCards[1]" ng-class="me.player.holeCards[1].cardString"></section>
                </div>
                <div class="p-space" id="user">
                    <section class="hole-card" ng-model="me.player.holeCards[0]" ng-class="me.player.holeCards[0].cardString"></section>
                    <section class="hole-card" ng-model="me.player.holeCards[1]" ng-class="me.player.holeCards[1].cardString"></section>
                </div>
            </div>
        </div>


        <div id="option">
            
        </div>
        
        <dialog id="signInDialog">
            <span id="signInBanner">Sign In</span>
            <input class="register-dialog-input" id="register-email" type="email" placeholder="Email" required/>
            <input class="register-dialog-input" id="register-fname" type="text" placeholder="First Name" required/>
            <input class="register-dialog-input" id="register-lname" type="text" placeholder="Last Name" required/>
            <input class="register-dialog-input" id="register-code" type="text" placeholder="Game Code" required/>
            <input type="button" id="create-dialog-button" value="Create"/>
            <input type="button" id="register-dialog-button" value="Play"/>
        </dialog>
        
        <script type="text/javascript" src="js/libs/jquery/jquery.js"></script>
        <script type="text/javascript" src="js/libs/progressbar/progressbar.min.js"></script>
        <script type="text/javascript" src="js/libs/angular/angular.js"></script>
        <script type="text/javascript" src="js/libs/angular/angular-route.js"></script>        
        <script type="text/javascript" src="js/libs/md5/md5.js"></script>
        <script type="text/javascript" src="js/custom/main.js"></script>
        <script type="text/javascript" src="js/custom/controllers/GameCtrl.js"></script>
        <script type="text/javascript" src="js/libs/timecircles/TimeCircles.js"></script>
        <script type="text/javascript" src="js/custom/test/test.js"></script>
        
    </body>
</html>
